@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 100;
   src: url('file:///C:/Users/sTANLEY/Documents/Projects/Web%20Dev/AI%20Saturdays/AI%20Saturdays%20Site//fonts/Lato/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   src: url('file:///C:/Users/sTANLEY/Documents/Projects/Web%20Dev/AI%20Saturdays/AI%20Saturdays%20Site//fonts/Lato/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   src: url('file:///C:/Users/sTANLEY/Documents/Projects/Web%20Dev/AI%20Saturdays/AI%20Saturdays%20Site//fonts/Lato/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 900;
   src: url('file:///C:/Users/sTANLEY/Documents/Projects/Web%20Dev/AI%20Saturdays/AI%20Saturdays%20Site//fonts/Lato/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 100;
   src: url('file:///C:/Users/sTANLEY/Documents/Projects/Web%20Dev/AI%20Saturdays/AI%20Saturdays%20Site//fonts/Lato/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 300;
   src: url('file:///C:/Users/sTANLEY/Documents/Projects/Web%20Dev/AI%20Saturdays/AI%20Saturdays%20Site//fonts/Lato/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/sTANLEY/Documents/Projects/Web%20Dev/AI%20Saturdays/AI%20Saturdays%20Site//fonts/Lato/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 400;
   src: url('file:///C:/Users/sTANLEY/Documents/Projects/Web%20Dev/AI%20Saturdays/AI%20Saturdays%20Site//fonts/Lato/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 700;
   src: url('file:///C:/Users/sTANLEY/Documents/Projects/Web%20Dev/AI%20Saturdays/AI%20Saturdays%20Site//fonts/Lato/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 900;
   src: url('file:///C:/Users/sTANLEY/Documents/Projects/Web%20Dev/AI%20Saturdays/AI%20Saturdays%20Site//fonts/Lato/900italic.ttf') format('truetype');
}
